// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #4D3664;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$lighter-grey: #999999;
$light-gray: #F4F4F4;
$very-light-grey: #E6E6E6;
$white: #FFFFFF;
$wagon-grey: #616668;
$wagon-red: #da552f;
$black: #000000;
